@charset "UTF-8";

/* ============================
* 共通
* ========================= */
/* ============================
* フォント、背景
* ========================= */
:root {
  /* 10px */
  --font-10: 0.625rem;
  /* 12px */
  --font-12: 0.75rem;
  /* 13px */
  --font-13: 0.8125rem;
  /* 14px */
  --font-14: 0.875rem;
  /* 16px */
  --font-16: 1rem;
  /* 18px */
  --font-18: 1.125rem;
  /* 20px */
  --font-20: 1.25rem;
  /* 24px */
  --font-24: 1.5rem;
  /* 28px */
  --font-28: 1.75rem;
  /* 32px */
  --font-32: 2rem;
  /* 36px */
  --font-36: 2.25rem;
  /* 2.5px */
  --font-40: 2.25rem;
  /* 72px */
  --font-72: 4.5rem;
  /* 14.4px */
  --text-1: 0.9rem;

  /* 文字カラー */
  --font-black: #333;
  --font-white: #fff;

  /* ラインカラー */
  --line-black: #000;
  --line-white: #fff;
  --line-gray: #dcdbdb;

  /* 背景色 */
  --bg-main: #e6e2d7;
  --bg-white: #fff;
  --bg-yellow: rgba(249, 233, 6, .6);
  --bg-red: rgba(149, 42, 38, .6);

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* ============================
* About
* ========================= */
.sec__content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about .sec__content-wrapper {
  gap: 30px;
}

.sec__desc {
  font-size: var(--font-14);
  line-height: 1.5;
}

/* ============================
* Company
* ========================= */
.company__inner {
  padding-bottom: 160px;
}

.company .sec__content-wrapper {
  gap: 20px;
}

.company__item {
  display: flex;
  font-size: var(--font-14);
  line-height: 1.5;
  padding: 20px 10px;
}

@media screen and (max-width: 900px) {
  .company__item {
    flex-direction: column;
    gap: 10px;
  }
}

.company__item:not(:last-of-type) {
  border-bottom: 1px solid var(--line-gray);
}

.company__item .item__term {
  width: 32%;
}

.company__item .item__desc {
  width: 68%;
}

@media screen and (max-width: 900px) {
  .company__item .item__desc {
    width: 100%;
  }
}

.company__map iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  z-index: -10;
}
